@using IWSProject.Content

<script type="text/javascript">

    var currentModelId = null;
    var balanced = true;

    function OnMBeginCallback(s, e) {
        if (currentModelId !== null) {
            e.customArgs["currentModelId"] = currentModelId;
            e.customArgs["balanced"] = balanced;
            currentModelId = null;
        }
    }
    function OnMEndCallback(s, e) {
        if (currentModelId !== null) {
            callbackPanelPartialView.PerformCallback();
        }
    }
    function CheckedChanged(s, e) {
        callbackPanelPartialView.PerformCallback({ currentModelId: ComboBoxModelId.GetValue(), balanced: s.GetChecked() });
    }
    function OnButtonClick() {
        if (unpaid.IsCustomizationWindowVisible()) {

            unpaid.HideCustomizationWindow();
        }
        else {
            unpaid.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = unpaid.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }
    function OnModelIdSelectionChanged() {
        currentModelId = ComboBoxModelId.GetValue();
        if (!callbackPanelPartialView.InCallback()) {
            callbackPanelPartialView.PerformCallback();
        }
    }
    function OnSubmitClick(s, e) {
        currentModelId = ComboBoxModelId.GetValue();
        balanced = CheckBoxBalanced.GetValue();
        callbackPanelPartialView.PerformCallback();
    }

</script>

@{
    ViewBag.Title = IWSLocalResource.BankReconciliation;
}

<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("Index", "UnpaidBill"))
{

    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "FormLayout";
    settings.Width = Unit.Percentage(100);
    settings.Items.AddGroupItem(gsettings =>
    {
        gsettings.ColCount = 4;
        gsettings.Caption = IWSLocalResource.QueryDetail;

        gsettings.Items.Add(i =>
        {
            i.Caption = IWSLocalResource.Accounting;
            i.SetNestedContent(() =>
            {
                Html.RenderPartial("GridLookupPartial");
            });
        });
        gsettings.Items.Add(i =>
        {
            i.Caption = IWSLocalResource.PaidBill;
            i.Name = "side";
            i.NestedExtension().CheckBox(e =>
            {
                e.Checked = true;
            });
        });
        gsettings.Items.Add(i =>
        {
            i.Caption = " ";
            i.Name = "btnSubmit";
            i.NestedExtension().Button(e =>
            {
                e.Name = "btnOk";
                e.Text = IWSLocalResource.Validate;
                e.ControlStyle.CssClass = "button";
                e.Width = Unit.Pixel(105);
                e.ClientSideEvents.Click = "OnSubmitClick";
                e.UseSubmitBehavior = false;
            });
        });
        gsettings.Items.Add(i =>
        {
            i.Caption = " ";
            i.SetNestedContent(() =>
            {
                Html.RenderPartial("ShowHideButtonPartialView");
            });
        });
    });
}).GetHtml()

    @Html.Partial("CallbackPanelPartialView")
}
  