@using IWSProject.Content
@using IWSProject.Models
@model List<StockViewModel>
@{
    ViewBag.Title = IWSLocalResource.StockAndStore;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("StocksPartialView", Model)

