@model IEnumerable<IWSProject.Models.Entities.Customer>
<script type="text/javascript">

    function OnButtonClick() {
        if (CustomersGridView.IsCustomizationWindowVisible()) {

            CustomersGridView.HideCustomizationWindow();
        }
        else {
            CustomersGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = CustomersGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }

    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutCU").text(layout)
    }
</script>

@Html.Partial("ShowHideButtonPartialView")
<div class="options">
    <div class="options-item">
        @Html.Partial("PerformancePartialView")
    </div>
</div>
@{
    @Session["DurationCust"];
}
@Html.Action("CustomersGridViewPartial", Model)
