@using IWSProject.Content
@model IEnumerable<IWSProject.Models.Entities.Customer>
<script type="text/javascript">

    function OnButtonClick() {
        if (CustomersGridView.IsCustomizationWindowVisible()) {

            CustomersGridView.HideCustomizationWindow();
        }
        else {
            CustomersGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = CustomersGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }

    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutCU").text(layout)
    }
    function OnSelectionChanged(s, e) {
    if (e.isSelected) {
        s.ExpandDetailRow(e.visibleIndex);
    }
    }
</script>
@{
    ViewBag.Title = IWSLocalResource.customer;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("ShowHideButtonPartialView")

@Html.Action("CustomersGridViewPartial", Model)
