@using IWSProject.Content
<script type="text/javascript">

    function OnButtonClick(s, e) {
        if (ExceptionsGridView.IsCustomizationWindowVisible())
            ExceptionsGridView.HideCustomizationWindow();
        else
            ExceptionsGridView.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = ExceptionsGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btnShowHide.SetText(text);
    }
    function OnGridInit(s, e, showCustomizationWindow) {
        if (showCustomizationWindow)
            s.ShowCustomizationWindow();
    }
</script>
@{
    ViewBag.Title = IWSLocalResource.LogException;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>

@Html.DevExpress().FormLayout(settings =>
{
settings.Name = "FormLayout";
settings.Width = Unit.Percentage(100);
settings.Items.AddGroupItem(gsettings => {
    gsettings.ColCount = 1;
    gsettings.Caption = IWSLocalResource.QueryDetail;
    gsettings.Items.Add(i =>
    {
        i.Caption = " ";
        i.SetNestedContent(() =>
        {
            Html.RenderPartial("ShowHideButtonPartialView");
        });
    });
});
}).GetHtml()
@Html.Action("ExceptionsGridViewPartial")


@*@Html.Partial("ShowHideButtonPartialView")*@