<script type="text/javascript">
    function OnBeginCallback(s, e) {
        alert("Callback begins here");
        //e.customArgs["cpCStart"] = CStart.GetValue();
        //e.customArgs["cpCEnd"] = CEnd.GetValue();
        //e.customArgs["cpOStart"] = OStart.GetValue();
        //e.customArgs["cpOEnd"] = OEnd.GetValue();
        //e.customArgs["cpNStart"] = NStart.GetValue();
        //e.customArgs["cpNEnd"] = NEnd.GetValue();
    }
    //CStart.GetInputElement().readOnly = true;
    //CEnd.GetInputElement().readOnly = true;
    //OStart.GetInputElement().readOnly = true;
    //OEnd.GetInputElement().readOnly = true;
</script>

@model System.Collections.IEnumerable
@Html.Partial("PopupPartialView", Model)

@*@model IWSProject.Models.FiscalYearViewModel
@Html.Partial("PartialView")*@



@*@{
    ViewBag.Title = "Some title";
}*@

@*<h2>Index</h2>*@

@*@Html.Partial("PartialView");*@