@*@model string

    <div id="UploadControlContainer">
        @using (Html.BeginForm("UploadControlUpload", "PdfUpdate", FormMethod.Post))
        {
            @Html.DevExpress().UploadControl(settings =>
       {
           settings.Name = "UploadControl";
           settings.CallbackRouteValues = new { Controller = "PdfUpdate", Action = "UploadControlUpload" };
           settings.ShowProgressPanel = true;
           
           settings.ValidationSettings.Assign(IWSProject.Controllers.UploadControlSettings.UploadValidationSettings);
           //settings.ClientSideEvents.FileUploadComplete = "OnFileUploadComplete";
           settings.ClientSideEvents.FileUploadComplete = "function(s, e) { alert(e.callbackData); }";
       }).GetHtml()

            @Html.Hidden("DocumentUrl", Model)
        }
    </div>*@
