@using IWSProject.Content
@Html.DevExpress().PopupControl(settings => {
    settings.Name = "updateControl";
    settings.CallbackRouteValues = new { Controller = "PdfUpdate", Action = "UpdatePdfpartial", param = false };
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.PopupVerticalAlign = PopupVerticalAlign.Below;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.LeftSides;
    settings.ShowFooter = true;
    settings.AllowDragging = true;
    settings.EnableHotTrack = true;
    settings.Height = Unit.Pixel(130);
    settings.Width = Unit.Pixel(320);
    settings.LoadContentViaCallback = LoadContentViaCallback.OnFirstShow;
    settings.PopupElementID = "ShowButton";
    settings.HeaderText = IWSLocalResource.UpdateContent;

    settings.SetContent(() => {
        ViewContext.Writer.Write(
            "<div style=\"vertical-align:middle\">" +
                IWSLocalResource.UpdateDoc + " <b> " + Session["documentId"] + " : "  + "</b>" +
            "</div>"
        );
    });

    settings.SetFooterTemplateContent(c => {
        ViewContext.Writer.Write("<div style=\"overflow: hidden\"><div style=\"padding: 3px; float: right;\">");
        Html.DevExpress().Button(buttonsettings => {
            buttonsettings.Name = "updateButton";
            buttonsettings.Width = Unit.Pixel(80);
            buttonsettings.Images.Image.IconID = IconID.ActionsApply16x16;
            buttonsettings.Text = " ";
            buttonsettings.ClientSideEvents.Click = "function(s, e) { updateControl.PerformCallback({param: true}); PdfUpdateGridView.Refresh(); }";
        }).Render();
        ViewContext.Writer.Write("</div></div>");
    });
}).GetHtml()
