<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://doghol-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://doghol-001-site1.ftempurl.com:8172/msdeploy.axd?site=doghol-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>doghol-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\doghol-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18F7E_iws;Persist Security Info=True;User ID=DB_A18F7E_iws_admin;Password=Qayx.123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IWSProject.Models.UsersContext, IWSProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="7" Enabled="False">
          <Destination Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18F7E_iws;Persist Security Info=True;User ID=DB_A18F7E_iws_admin;Password=Qayx.123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IWSProject.Models.ApplicationDbContext, IWSProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IWSConnectionString" Order="8" Enabled="False">
          <Destination Path="Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18F7E_iws;Persist Security Info=True;User ID=DB_A18F7E_iws_admin;Password=Qayx.123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5040.SmarterASP.NET;Initial Catalog=consolid;Persist Security Info=True;User ID=DB_A18F7E_iwsweb_admin;Password=Qayx.123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IWSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=SQL5040.SmarterASP.NET;initial catalog=consolid;persist security info=True;user id=DB_A18F7E_iwsweb_admin;password=Qayx.123;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IWSConnectionString-Web.config Connection String">
      <ParameterValue>data source=SQL5030.SmarterASP.NET;initial catalog=DB_A18F7E_iws;persist security info=True;user id=DB_A18F7E_iws_admin;password=Qayx.123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IWSConnectionString-Web.config Connection String">
      <ParameterValue>data source=SQL5030.SmarterASP.NET;initial catalog=DB_A18F7E_iws;persist security info=True;user id=DB_A18F7E_iws_admin;password=Qayx.123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18F7E_iws;Persist Security Info=True;User ID=DB_A18F7E_iws_admin;Password=Qayx.123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5030.SmarterASP.NET;Initial Catalog=DB_A18F7E_iws;Persist Security Info=True;User ID=DB_A18F7E_iws_admin;Password=Qayx.123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>