@using IWSProject.Content
@Html.DevExpress().PopupControl(settings =>
{
    settings.Name = "PopupControl";
    settings.ShowHeader = true;
    settings.HeaderText = IWSLocalResource.Draft;
    settings.ShowFooter = true;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.OuterMouseClick;
    settings.CloseOnEscape = true;
    settings.ShowCloseButton = false;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.SetContent(() =>
    {
        ViewContext.Writer.Write(IWSLocalResource.DraftList);

        Html.DevExpress().ComboBox(combo =>
        {
            combo.Name = "SelectedBrouillard";
            combo.Width = Unit.Pixel(362);
            combo.SelectedIndex = 0;
            combo.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
            combo.Properties.DropDownStyle = DropDownStyle.DropDown;
            combo.Properties.TextField = "Name";
            combo.Properties.ValueField = "ItemID";
            combo.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectionChanged";
        }).BindList(ViewData["Brouillard"]).GetHtml();

    });
    settings.SetFooterContentTemplateContent(t =>
    {
        ViewContext.Writer.Write("<div style='width: 100%; text-align: center'>");
        Html.DevExpress().Button(okButtonSettings =>
        {
            okButtonSettings.Name = "Continue";
            okButtonSettings.Images.Image.IconID = IconID.ActionsApply16x16;
            okButtonSettings.Width = Unit.Pixel(80);
            okButtonSettings.Text = " ";
            okButtonSettings.ClientSideEvents.Click = "function(s, e){ OnContinueClick(); }";
        }).Render();
        Html.DevExpress().Button(cancelButtonSettings =>
        {
            cancelButtonSettings.Name = "CancelButton";
            cancelButtonSettings.Images.Image.IconID = IconID.ActionsCancel16x16;
            cancelButtonSettings.Width = Unit.Pixel(80);
            cancelButtonSettings.Text = " ";
            cancelButtonSettings.ClientSideEvents.Click = "function(s, e){ PopupControl.Hide(); }";
            cancelButtonSettings.Style.Add(HtmlTextWriterStyle.MarginLeft, "0.5em");
        }).Render();
        ViewContext.Writer.Write("</div>");
    });
}).GetHtml()

