@using IWSProject.Content
@{
    var gridLookup = Html.DevExpress().GridLookup(settings => {
        settings.Name = "gridLookupIDs";
        settings.KeyFieldName = "Id";

        settings.GridViewProperties.CallbackRouteValues = new { Controller = "Journal", Action = "GridLookupPartial" };
        settings.Properties.SelectionMode = GridLookupSelectionMode.Multiple;
        settings.Properties.TextFormatString = "{0}";

        settings.Width = Unit.Pixel(210);
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;

        settings.GridViewProperties.Settings.ShowStatusBar = GridViewStatusBarMode.Visible;

        settings.GridViewProperties.SettingsPager.Visible = true;
        settings.GridViewProperties.Settings.ShowGroupPanel = true;
        settings.GridViewProperties.Settings.ShowFilterRow = true;
        settings.GridViewProperties.SetStatusBarTemplateContent(c =>
        {
            ViewContext.Writer.Write("<div style=\"padding: 2px 8px 2px 0; float: right\">");
            Html.DevExpress().Button(
                btnSettings =>
                {
                    btnSettings.Name = "btnClose";
                    btnSettings.UseSubmitBehavior = false;
                    btnSettings.Text = IWSLocalResource.close;

                    btnSettings.ClientSideEvents.Click = "HideGridLookup";
                }
            )
            .Render();
            ViewContext.Writer.Write("</div>");
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "Id";
            column.Caption = IWSLocalResource.accountid;
            column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Name";
            column.Caption = IWSLocalResource.name;
            column.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        });

    });
    if (ViewData["EditError"] != null){
        gridLookup.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@gridLookup.BindList(Model).GetHtml()