
<div class="performace_test_result">
    <table>
        <tr>
            <td>Operation type:</td>
            <td id="Operation">&nbsp;</td>
        </tr>
        <tr>
            <td>View rendering time: </td>
            <td style="color:red"><span id="Time">&nbsp;</span>&nbsp;ms</td>
        </tr>
    </table>
</div>
