@using IWSProject.Content
<script type="text/javascript">

    function OnButtonClick() {
        if (BanksGridView.IsCustomizationWindowVisible()) {

            BanksGridView.HideCustomizationWindow();
        }
        else {
            BanksGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = BanksGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }
    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutBK").text(layout)
    }
</script>
@{
    ViewBag.Title = IWSLocalResource.banks;
}
@Html.DevExpress().Button(settings =>
{
    settings.Name = "btShowCustomizationWindow";
    settings.Text = IWSLocalResource.WindowCustomization;
    settings.Width = Unit.Pixel(100);
    settings.UseSubmitBehavior = false;
    settings.ClientSideEvents.Click = "OnButtonClick";
}).GetHtml()
<div class="options">
    <div class="options-item">
        @Html.Partial("PerformancePartialView")
    </div>
</div>
@{
    @Session["DurationBank"];
}
@Html.Action("BanksGridViewPartial")
