@using IWSProject.Content
@Html.DevExpress().FormLayout(formLayout =>
{
    formLayout.Name = "contentFormLayout";

    formLayout.Items.AddGroupItem(group =>
    {
        group.Name = "gCurrentFiscalYear";
        group.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
        group.Caption = IWSLocalResource.FiscalYearCurrent;
        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
        group.Items.Add(i =>
        {
            i.FieldName = "CStart";
            i.Name = "CStart";
            i.Caption = IWSLocalResource.FiscalYearStart;
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            //i.NestedExtensionSettings.Enabled = false;
        });
        group.Items.Add(i =>
        {
            i.FieldName = "CEnd";
            i.Name = "CEnd";
            i.Caption = IWSLocalResource.FiscalYearEnd;
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            //i.NestedExtensionSettings.Enabled = false;
        });
    });
    formLayout.Items.AddGroupItem(group =>
    {
        group.Name = "gOpenFiscalYear";
        group.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
        group.Caption = IWSLocalResource.FiscalYearOpen;
        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
        group.Items.Add(i =>
        {
            i.FieldName = "OStart";
            i.Name = "OStart";
            i.Caption = IWSLocalResource.FiscalYearStart;
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            //i.NestedExtensionSettings.Enabled = false;
        });
        group.Items.Add(i =>
        {
            i.FieldName = "OEnd";
            i.Name = "OEnd";
            i.Caption = IWSLocalResource.FiscalYearEnd;
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            //i.NestedExtensionSettings.Enabled = false;
        });
    });
    formLayout.Items.AddGroupItem(group =>
    {
        group.Name = "gNextFiscalYear";
        group.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
        group.Caption = IWSLocalResource.FiscalYearNext;
        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
        group.Items.Add(i =>
        {
            i.FieldName = "NStart";
            i.Name = "NStart";
            i.Caption = IWSLocalResource.FiscalYearStart;
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        });
        group.Items.Add(i =>
        {
            i.FieldName = "NEnd";
            i.Name = "NEnd";
            i.Caption = IWSLocalResource.FiscalYearEnd;
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
        });
    });
    formLayout.Items.AddGroupItem(g =>
    {
        g.GroupBoxDecoration = GroupBoxDecoration.None;
        g.Paddings.Padding = Unit.Pixel(10);
        g.Name = "footerGroup";
        g.Items.Add(i =>
        {
            i.ShowCaption = DefaultBoolean.False;
        }).SetNestedContent(() =>
        {
            ViewContext.Writer.Write("<div class='buttonsContainer' style='width: 100%; text-align: center'>");
            Html.DevExpress().Button(s =>
            {
                s.Name = "Submit";
                s.Width = Unit.Pixel(75);
                s.Text = " ";
                s.Images.Image.IconID = IconID.ActionsApply16x16;
                s.UseSubmitBehavior = false;
                s.ClientSideEvents.Click = "function(s,e){CallbackPanel.PerformCallback(s,e);}";
            }).Render();
            Html.DevExpress().Button(s =>
            {
                s.Name = "Cancel";
                s.Width = Unit.Pixel(75);
                s.Text = " ";
                s.Images.Image.IconID = IconID.ActionsCancel16x16;
                s.UseSubmitBehavior = false;
                s.ClientSideEvents.Click = "function(){OnCancelClick()}";
            }).Render();
            ViewContext.Writer.Write("</div>");
        });
    });

}).Bind(ViewBag.FiscalYear).GetHtml()

