@using IWSProject.Content
@model IEnumerable<IWSProject.Models.Entities.AffectationJournal>
<script type="text/javascript">

    function OnButtonClick() {
        if (AffectationJournalGridView.IsCustomizationWindowVisible()) {

            AffectationJournalGridView.HideCustomizationWindow();
        }
        else {
            AffectationJournalGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = AffectationJournalGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }

    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutAj").text(layout)
    }
</script>

@{
    ViewBag.Title = IWSLocalResource.AffectationJournal;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("ShowHideButtonPartialView")

@Html.Partial("AffectationJournalGridViewPartial", Model)
