<script type="text/javascript">
    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutBA").text(layout)
    }
</script>
@using IWSProject.Content
@{
    ViewBag.Title = IWSLocalResource.bankaccount;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.Action("BankAccountsGridViewPartial")