@model IEnumerable<IWSProject.Models.Entities.Supplier>
<script type="text/javascript">

    function OnButtonClick() {
        if (SuppliersGridView.IsCustomizationWindowVisible()) {

            SuppliersGridView.HideCustomizationWindow();
        }
        else {
            SuppliersGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = SuppliersGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }

    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutSu").text(layout)
    }
</script>
@using IWSProject.Content
@{
    ViewBag.Title = IWSLocalResource.supplier;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("ShowHideButtonPartialView")

@Html.Partial("SuppliersGridViewPartial", Model)
