@using IWSProject.Content
@model IEnumerable<IWSProject.Models.Entities.QuantityUnit>
<script type="text/javascript">

    function OnButtonClick() {
        if (QuantityUnitsGridView.IsCustomizationWindowVisible()) {

            QuantityUnitsGridView.HideCustomizationWindow();
        }
        else {
            QuantityUnitsGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = QuantityUnitsGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }

    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutQu").text(layout)
    }
</script>
@{
    ViewBag.Title = IWSLocalResource.quantityunit;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("ShowHideButtonPartialView")

@Html.Action("QuantityUnitsGridViewPartial", Model)