@using IWSProject.Content
@model System.Collections.IEnumerable
<script type="text/javascript">
    function OnClick(s, e) {
        document.forms[0].submit();
    }
    var vStart = null;
    var vEnd = null;
    function OnButtonClick(s, e) {
        vStart = fromYearMonth.GetText();
        vEnd = toYearMonth.GetText();
        callbackPartialView.PerformCallback();
    }
    function OnBeginCallback(s, e) {
        e.customArgs["Start"] = vStart;
        e.customArgs["End"] = vEnd;
    }
</script>

@{
    ViewBag.Title = IWSLocalResource.Report;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("ExportToXLS", "Report"))
{
    @Html.DevExpress().FormLayout(settings =>
        {
            settings.Name = "FormLayout";
            settings.Width = Unit.Percentage(100);
            settings.Items.AddGroupItem(gsettings => {
                gsettings.ColCount = 5;
                gsettings.Caption = IWSLocalResource.QueryDetail;

                gsettings.Items.Add(i =>
                {
                    i.Caption = IWSLocalResource.StartedDate;
                    i.SetNestedContent(() =>
                    {
                        Html.RenderPartial("FromYearMonthDateEditPartialView");
                    });
                });

                gsettings.Items.Add(i =>
                {
                    i.Caption = IWSLocalResource.EntryDate;
                    i.SetNestedContent(() => {
                        Html.RenderPartial("ToYearMonthDateEditPartialView");
                    });
                });
                gsettings.Items.Add(i =>
                {
                    i.Caption = " ";
                    i.Name = "btnSubmit";
                    i.NestedExtension().Button(e =>
                    {
                        e.Name = "btnOk";
                        e.Text = IWSLocalResource.Validate;
                        e.ControlStyle.CssClass = "button";
                        e.Width = Unit.Pixel(105);
                        e.ClientSideEvents.Click = "OnButtonClick";
                        e.UseSubmitBehavior = false;
                    });
                });
                gsettings.Items.Add(i =>
                {
                    i.Caption = " ";
                    i.Name = "btnExp";
                    i.NestedExtension().Button(e =>
                    {
                        e.Name = "btnExport";
                        e.Text = IWSLocalResource.Export;
                        e.Width = Unit.Pixel(105);
                        e.ClientSideEvents.Click = "OnClick";
                        e.UseSubmitBehavior = true;
                    });
                });
            });
        }).GetHtml()
        @Html.Partial("_CallbackPartialView")

}