@model IEnumerable<IWSProject.Models.Entities.Menu>
@using IWSProject.Content

<script type="text/javascript">

    function OnButtonClick() {
        if (MenuUIGridView.IsCustomizationWindowVisible()) {

            MenuUIGridView.HideCustomizationWindow();
        }
        else {
            MenuUIGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = MenuUIGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }
    function OnEndCallback(s, e) {
        TrackLayout(s.cpClientLayout);
    }
    function TrackLayout(layout) {
        $("#LastLayoutVa").text(layout)
    }
</script>
@{
    ViewBag.Title = IWSLocalResource.menus;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.Partial("ShowHideButtonPartialView")

@Html.Partial("MenuUIGridViewPartial", Model)
