@using IWSProject.Content;
@model string

@{
    ViewBag.Title = IWSLocalResource.ImportCash;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@Html.DevExpress().FileManager(settings =>
{
    settings.Name = "FileManager";

    settings.CallbackRouteValues = new { Controller = "Cash", Action = "CashPartial" };

    settings.Settings.AllowedFileExtensions = new string[] { ".xls", ".xlsx" };
    settings.Settings.EnableMultiSelect = false;

    settings.SettingsEditing.AllowCreate = true;
    settings.SettingsEditing.AllowRename = true;
    settings.SettingsEditing.AllowMove = true;
    settings.SettingsEditing.AllowDelete = true;
    settings.SettingsEditing.AllowDownload = false;

    settings.SettingsUpload.Enabled = true;
    settings.SettingsUpload.UseAdvancedUploadMode = true;
    settings.SettingsUpload.AdvancedModeSettings.EnableMultiSelect = true;

    settings.SettingsFileList.View = DevExpress.Web.FileListView.Details;

    settings.ClientSideEvents.CustomCommand = "OnCustomCommand";
    settings.ClientSideEvents.ToolbarUpdating = "OnToolbarUpdating";

    settings.SettingsContextMenu.Items.Add(new FileManagerToolbarDeleteButton());
    settings.SettingsToolbar.Items.Add(new FileManagerToolbarDeleteButton());

    settings.SettingsContextMenu.Items.Add(new FileManagerToolbarRefreshButton());
    settings.SettingsToolbar.Items.Add(new FileManagerToolbarRefreshButton());

    var contextMenuButton = new FileManagerToolbarCustomButton();
    contextMenuButton.CommandName = "CashToDb";
    contextMenuButton.Text = IWSLocalResource.UploadToDB;
    contextMenuButton.Image.IconID = IconID.ActionsUp216x16;
    contextMenuButton.BeginGroup = true;

    settings.SettingsContextMenu.Items.Add(contextMenuButton);
    settings.SettingsContextMenu.Enabled = true;

    var toolBarButton = new FileManagerToolbarCustomButton();
    toolBarButton.CommandName = "CashToDb";
    toolBarButton.ToolTip = IWSLocalResource.UploadToDB;
    toolBarButton.Text = IWSLocalResource.UploadToDB;
    toolBarButton.Image.IconID = IconID.ActionsUp216x16;
    toolBarButton.BeginGroup = true;

    settings.SettingsToolbar.Items.Add(toolBarButton);

    settings.SettingsUpload.NullText = (string)ViewData["GenericError"];

    settings.SettingsUpload.NullText = IWSLocalResource.DropFiles;

    settings.SettingsUpload.AdvancedModeSettings.DropZoneText = (string)ViewData["GenericError"];

}).BindToFolder(Model).GetHtml()
